* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  #toast-holder {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
  }
  
  .single-toast {
    width: 200px;
    border-radius: 5px;
    background-color: white;
    color: #5b5b5b;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    transition: .3s;
    max-height: 100px;
    display: flex;
    flex-direction: column;
  }
  
  .toast-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
  }
  .close-toast {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }
  .toast-content {
    padding: 10px 10px 5px;
  }
  
  .fade-in {
    animation: fadeIn linear .5s;
  }
  
  .fade-out {
    animation: fadeOut linear .5s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      max-height: 0px;
    }
    
    100% {
      opacity: 1;
      max-height: 100px;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
      max-height: 100px;
    }
    100% {
      opacity: 0;
      max-height: 0;
    }
  }